<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/WEB-INF/templates/master.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!-- Metadata -->
    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="id" />
            <f:viewAction action="#{reviewController.initDelete(param.id)}" />
        </f:metadata>
    </ui:define>

    <!-- Title -->
    <ui:define name="title">${reviewController.review.title} | Subview</ui:define>

    <!-- Content -->
    <ui:define name="content">

        <h1>Delete Review</h1>
        <p>Are you sure you would like to delete the following review?</p>

        <div class="error"><h:messages globalOnly="true" /></div>

        <h2>#{reviewController.review.title}</h2>
        <p>#{reviewController.review.text}</p>

        <h:form>
            <h:inputHidden value="#{reviewController.review.id}"/>
            <h:button value="Cancel" outcome="/index"/>
            <h:commandButton value="Confirm" action="#{reviewController.delete}"/>
        </h:form>

    </ui:define>

</ui:composition>