<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/WEB-INF/templates/master.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!-- Metadata -->
    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="id" value="#{reviewController.review.id}" />
            <f:viewAction action="#{reviewController.initEdit(param.id)}" />
        </f:metadata>
    </ui:define>

    <!-- Title -->
    <ui:define name="title">Edit Review | Subview</ui:define>

    <!-- Content -->
    <ui:define name="content">

        <h1>Edit Review</h1>

        <div class="error"><h:messages globalOnly="true" /></div>

        <h:form>
            <div class="form-group">
                <label for="title">Title</label>
                <h:inputText id="title" value="#{reviewController.review.title}" validatorMessage="You must enter a title of at most 100 characters." />
                <div class="error"><h:message for="title" /></div>
            </div>

            <div class="form-group">
                <label for="text">Review</label>
                <h:inputTextarea id="text" value="#{reviewController.review.text}" validatorMessage="You must enter text of at least 30 characters." />
                <div class="error"><h:message for="text" /></div>
            </div>

            <h:inputHidden value="#{reviewController.review.id}"/>
            <h:commandButton action="#{reviewController.edit}" value="Save" />
        </h:form>

    </ui:define>

</ui:composition>