<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/WEB-INF/templates/master.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!-- Metadata -->
    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="id" value="param.id" />
            <f:viewAction action="#{reviewController.initView(param.id)}" />
        </f:metadata>
    </ui:define>

    <!-- Title -->
    <ui:define name="title">${reviewController.review.title} | Subview</ui:define>

    <!-- Content -->
    <ui:define name="content">

        <div class="error"><h:messages globalOnly="true" /></div>

        <h1>#{reviewController.review.title}</h1>
        <p>#{reviewController.review.text}</p>

        <ui:fragment rendered="#{reviewController.authUser.id == reviewController.review.userId}">
            <h:link value="Edit" outcome="/review/edit?id=#{param.id}" /><br />
            <h:link value="Delete" outcome="/review/delete?id=#{param.id}" />
        </ui:fragment>

    </ui:define>

</ui:composition>