<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/WEB-INF/templates/master.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!-- Metadata -->
    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="id" value="param.id" />
            <f:viewAction action="#{subjectController.initView(param.id)}" />
        </f:metadata>
    </ui:define>

    <!-- Title -->
    <ui:define name="title">${subjectController.subject.name} | Subview</ui:define>

    <!-- Content -->
    <ui:define name="content">

        <div class="error"><h:messages /></div>

        <h1>#{subjectController.subject.utsId} #{subjectController.subject.abbreviation} - #{subjectController.subject.name}</h1>

        <p>#{subjectController.subject.description}</p>

        <ui:fragment rendered="#{not empty baseController.authUser}">
            <h:link value="Write a review." outcome="/review/create?subjectId=#{subjectController.subject.id}" />
        </ui:fragment>

        <div class="subject__reviews">
            <h2>Reviews</h2>
            <div class="reviews">
                <ui:repeat value="#{subjectController.reviews}" var="review">
                    <div class="review">
                        <p class="review__title"><h:link value="#{review.title}" outcome="/review/view?id=#{review.id}" /></p>
                        <p class="review__text">#{review.text}</p>
                    </div>
                </ui:repeat>
            </div>
        </div>

    </ui:define>

</ui:composition>