<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:insert name="metadata" />

    <head jsf:id="head">
        <title><ui:insert name="title">Subview</ui:insert></title>
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    </head>

    <body jsf:id="body">
        <div class="container page">
            <ui:include src="../partials/header.xhtml" />

            <div class="layout">
                <ui:include src="../partials/navigation.xhtml" />

                <main>
                    <ui:insert name="content" />
                </main>
            </div>
        </div>
    </body>

</html>


