* {
  box-sizing: border-box;
}

body {
  font-family: "Avenir", sans-serif;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  margin: 0 0 0.5em;
}

p {
  margin: 1em 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}