form {
  max-width: 640px;
}

.form-group {
  margin-bottom: 1em;

  span {
    display: block;
  }
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 600;
}

input, textarea {
  display: block;
  width: 100%;
  height: 3em;
  padding: 1em;
  line-height: 1;
  font-size: 1em;
  color: #555;
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  box-shadow: inset 0 0 0 transparent;
}

textarea {
  min-height: 200px;
}

.error {
  color: #cc0000;
  padding: 5px 0 0;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}