.site-header {
  background: rgba(0,0,0,0.05);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.site-header__auth {
  ul {
    display: flex;
    list-style: none;
    margin: 0;
  }

  li {
    list-style: none;
    margin-left: 5px
  }
}

.logo {
  display: block;
}