html, body {
  height: 100%;
}

.container {
  //width: 960px;
  margin: 0 auto;
}

.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #EEE;
}

.layout {
  flex: 1;
  display: flex;
}

.site-navigation {
  flex: 0 0 300px;
  padding: 20px;
  background: rgba(0,0,0,0.10);

  ul {
    padding: 0;
    margin: 0 0 20px;
  }

  li {
    list-style: none;
  }
}

.site-navigation__heading {
  color: rgba(0,0,0,0.30);
  font-weight: 700;
  font-size: 0.85em;
  text-transform: uppercase;
}

main {
  flex: 1 1 auto;
  padding: 20px 40px;
}

.subject__reviews {
  margin: 40px 0 0;
}