.reviews {
  display: flex;
  flex-wrap: wrap;

  margin-left: -2%;
}

.review {
  margin: 0 0 2% 2%;
  padding: 20px;
  width: 23%;
  background: rgba(0,0,0,0.05);
  border-radius: 5px;
}

.review__title {
  font-size: 1.3em;
  margin: 0 0 0.5em;
}