<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/WEB-INF/templates/master.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- Page Content -->
    <ui:define name="content">

        <div class="error"><h:messages /></div>

        <h1>Latest Reviews</h1>
        <div class="reviews">
            <ui:repeat value="#{indexController.reviews}" var="review">
                <div class="review">
                    <p class="review__title"><h:link value="#{review.title}" outcome="review/view?id=#{review.id}" /></p>
                    <p class="review__text">#{review.text}</p>
                </div>
            </ui:repeat>
        </div>

    </ui:define>

</ui:composition>