<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/WEB-INF/templates/master.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:jsf="http://xmlns.jcp.org/jsf">

    <ui:define name="title">Login - Subview</ui:define>

    <!-- Page Content -->
    <ui:define name="content">

        <div class="error"><h:messages /></div>

        <form jsf:id="form">
            <div class="form-group">
                <label for="username">Student ID</label>
                <h:inputText id="username" value="#{authController.account.username}" />
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <h:inputSecret id="password" value="#{authController.account.password}" />
            </div>

            <div class="form-group">
                <h:commandButton value="Login" action="#{authController.login}" />
            </div>
        </form>

    </ui:define>

</ui:composition>