<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/WEB-INF/templates/master.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:jsf="http://xmlns.jcp.org/jsf">

    <ui:define name="title">Signup - Subview</ui:define>

    <!-- Page Content -->
    <ui:define name="content">

        <h1>Create Account</h1>

        <div class="error"><h:messages globalOnly="true" /></div>

        <form jsf:id="form">
            <div class="form-group">
                <label for="utsId">Student ID</label>
                <h:inputText id="utsId" value="#{accountController.user.utsId}" validatorMessage="Your UTS ID should be either 6 or 8 numbers." />
                <div class="error"><h:message for="utsId" /></div>
            </div>

            <div class="form-group">
                <label for="name">Name</label>
                <h:inputText id="name" value="#{accountController.user.name}" validatorMessage="You must enter a name." />
                <div class="error"><h:message for="name" /></div>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <h:inputText id="email" value="#{accountController.user.email}" validatorMessage="You must enter an email address."/>
                <div class="error"><h:message for="email" /></div>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <h:inputSecret id="password" value="#{accountController.user.password}" validatorMessage="You must enter a password." />
                <div class="error"><h:message for="password" /></div>
            </div>

            <div class="form-group">
                <h:commandButton value="Create" action="#{accountController.create}" />
            </div>
        </form>

    </ui:define>

</ui:composition>