<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:c="http://java.sun.com/jsp/jstl/core">

    <header class="site-header">
        <a href="/" class="logo">Subview</a>

        <div class="site-header__auth">
            <ul>
                <ui:fragment rendered="#{not empty baseController.authUser}">
                    <li><a href="/account.xhtml">#{baseController.authUser.name}</a></li>
                    <li><h:form><h:commandLink value="Logout" action="#{authController.logout}" /></h:form></li>
                </ui:fragment>

                <ui:fragment rendered="#{empty baseController.authUser}">
                    <li><a href="/login.xhtml">Login</a></li>
                    <li><a href="/signup.xhtml">Signup</a></li>
                </ui:fragment>
            </ul>
        </div>
    </header>

</ui:composition>
