<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:c="http://java.sun.com/jsp/jstl/core">

    <nav class="site-navigation">
        <ul>
            <ui:fragment rendered="#{not empty baseController.authUser}">
                <li><h:link value="Write a Review" outcome="/review/create" /></li>
            </ui:fragment>
            <li><h:form><h:commandLink value="Export Reviews" action="#{csvController.export}" /></h:form></li>
        </ul>

        <span class="site-navigation__heading">Subjects</span>
        <ul>
            <ui:repeat var="subject" value="#{indexController.subjects}">
                <li><h:link value="#{subject.utsId} #{subject.abbreviation}" outcome="/subject/index?id=#{subject.id}" /></li>
            </ui:repeat>
        </ul>
    </nav>

</ui:composition>
